.profile__edit-button {
    background-image: url(../../../images/edit_button.svg);
    height: 24px;
    margin: 0;
    padding-left: 0px;
    width: 24px;
  }

  @media screen and (max-width: 767px) {
    .profile__edit-button {
      height: 18px;
      width: 18px;
    }
  }