.popup__button {
  background-color: black;
  border-radius: 2px;
  border: 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 1.22;
  margin: 0 36px 37px;
  max-width: 358px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__button {
    font-size: 14px;
    height: 46px;
    line-height: 1.21;
    margin: 0 22px 25px;
    max-width: 238px;
  }
}
