.profile__name {
  align-self: start;
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  max-width: 336px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
    align-self: center;
    max-width: 189px;
    padding-left: 27px;
  }
}
