.profile__name-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .profile__name-info-container {
    gap: 8px;
    padding-top: 26px;
    text-align: center;
  }
}
