.profile {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 880px;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin: 0 19px;
    padding-top: 42px;
  }
}
