.element__button {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  border: 0;
  height: 19px;
  margin: 0;
  width: 22px;
}

.element__button:hover {
  opacity: .5;
}
