.header {
    border-bottom: 1px solid rgba(84,84,84, .8);
    line-height: 0;
    margin: 0 auto;
    padding-top: 45px;
    width: calc(320px + 560 * ((100vw - 320px) / (1280 - 320)));
}
  
  @media screen and (max-width: 767px) {
    .header {
      padding-top: 28px;
    }
  }
