.popup__close-button {
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  border: 0;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}
