.element__button {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-color: #fff;
  max-width: 22px;
  width: 100%;
  border: 0;
  margin-right: 5px;
}

.element__button:hover {
  opacity: .5;
}
